.counter-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    color: var(--color-60);
    font-weight: bold;
    margin-bottom: 1rem;
}
.counter { display: flex; gap:0.25em; flex-direction: column; }
.counter-label { clear:both; }
#view-counter, #file-counter, #glam-counter { font-size: 2em; }

.loading-spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 0.25em solid transparent;
    border-radius: 50%;
    border-top-color: var(--color-60);
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}