{% load static %}
{% load i18n %}

<nav class="nav_wrapper">
    <div class="nav_section">
        <div class="nav_subsection">
            <a href="{% url 'glams:index' %}" aria-label="{% trans 'Homepage' %}">
                <img class="nav_logo" src="{% static 'images/icon.svg' %}" alt="{% trans "Logo for the project" %}">
            </a>
        </div>
        <div class="nav_separator"></div>
        <div class="nav_subsection">
            <a href="{% url 'glams:glam_list' %}" aria-label="{% trans 'GLAM-Wiki partnerships' %}">
                <i class="nav_icon fa-solid fa-handshake-simple"></i>
                <span class="nav_title">{% trans "GLAM-Wiki partnerships" %}</span>
            </a>
        </div>
        <div class="nav_separator"></div>
        <div class="nav_block">
            {% include 'i18n.html' %}
        </div>
        <div class="nav_separator"></div>
        <div class="nav_subsection">
            <a href="{% url 'medias:all_glams' %}" aria-label="{% trans 'General report' %}">
                <i class="nav_icon fa-solid fa-chart-simple"></i>
                <span class="nav_title">{% trans "General report" %}</span>
            </a>
        </div>
        <div class="nav_separator"></div>
        <div class="nav_subsection">
            <a href="{% url 'medias:top_files' %}" aria-label="{% trans 'Top files' %}">
                <i class="nav_icon fa-solid fa-award"></i>
                <span class="nav_title">{% trans "Top files" %}</span>
            </a>
        </div>
    </div>
    <div class="nav_section nav_bottom">
        <div class="nav_separator"></div>
        <div class="nav_subsection">
            {% if user.is_authenticated %}
                <span class="navbar_title">{{user.username}}</span>
                <div class="nav_separator"></div>
                <a href="{% url 'users:logout' %}" aria-label="{% trans 'Logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="nav_title">{% trans "Logout" %}</span>
                </a>
            {% else %}
                <a href="{% url 'social:begin' 'mediawiki' %}" aria-label="{% trans 'Login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span class="nav_title">{% trans "Login" %}</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
