{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{{ item.name_pt }}{% endblock %}
{% block banner %}{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'glams:index' %}">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'glams:glam_list' %}">{% trans "GLAM-Wiki partnerships" %}</a></li>
        <li class="breadcrumb-item active">{{ item.name_pt }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="w3-row">
        <div class="w3-quarter">&nbsp;</div>
        <div class="w3-half"><h1>{{ item.name_pt }}</h1></div>
    </div>
    <div class="w3-row">
        <div class="w3-quarter">&nbsp;</div>
        <div class="w3-half">
            <div class="w3-half">
                <p class="field_title"><i class="fa-solid fa-barcode"></i> {% trans "Wikidata item" %}</p>
                <p class="field_value"><a target="_blank" href="https://www.wikidata.org/wiki/{{ item.wikidata }}" title="{% trans 'Wikidata item' %}">{{ item.wikidata }}</a></p>
                <p class="field_title"><i class="fa-brands fa-wikipedia-w"></i> {% trans "URL address" %}</p>
                <p class="field_value"><a target="_blank" href="{{ item.website_url }}" title="{% trans 'Website for the GLAM-Wiki partnership' %}">{{ item.website_url|wiki_page }}</a></p>
                <p class="field_title"><i class="fa-solid fa-building-columns"></i> {% trans "Institutions" %}</p>
                <p class="field_value">{% for institution in item.institutions.all %}<div><a target="_blank" href="{{ institution.website_url }}" title="{{ institution.name_pt }} website">{{ institution }}</a></div>{% endfor %}</p>
            </div>
            <div class="w3-half">
                <p class="field_title"><i class="fa-solid fa-image"></i> {% trans "Number of files" %}</p>
                <p class="field_value">{{ media_files }}</p>
                <p class="field_title"><i class="fa-solid fa-eye"></i> {% trans "Total views" %}</p>
                <p class="field_value">{{ total_views }}</p>
                <p class="field_title"><i class="fa-solid fa-diagram-project"></i> {% trans "Number of projects" %}</p>
                <p class="field_value">{{ total_projects }}</p>
            </div>
        </div>
    </div>
    {% if perms.glams.change_glams or perms.glams.delete_glams %}
    <div class="w3-row">
        <div class="w3-quarter">&nbsp;</div>
        <div class="w3-half">
            <div class="button-container">
                {% if perms.glams.change_glams %}<a href="{% url 'glams:glam_update' pk=item.wikidata %}"><button class="custom-button">{% trans "Update" %}</button></a>{% endif %}
                {% if perms.glams.delete_glams %}<a href="{% url 'glams:glam_delete' pk=item.wikidata %}"><button class="custom-red-button">{% trans "Delete" %}</button></a>{% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="w3-row">
        <div class="w3-quarter">&nbsp;</div>
        <div class="w3-half">
            <form style="width: 100%" method="post" action="{% url 'medias:glam_report' pk=item.wikidata %}">
                {% csrf_token %}
                <label for="generate_report">{% trans "Generate report for specific month:" %}</label>
                <select id="generate_report" name="timestamp" style="width: 100%">
                    {% for timestamp in timestamp_options %}
                        <option value="{{ timestamp }}">{{ timestamp|timestamp2date|date:"F Y" }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="button custom-button submit-button" value="{% trans 'Generate report' %}">
            </form>
        </div>
    </div>
    <div class="w3-row">
    <div class="w3-quarter">&nbsp;</div>
    <div class="w3-half" style="margin-top:2em;">
        <canvas id="myChart" width="1080" height="720"></canvas>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
      const xAxis = "{% trans 'Date' %}";
      const yAxis = "{% trans 'Monthly views' %}";
      const y1Axis = "{% trans 'Cummulative views' %}";
      const rawData = {{ chart_data|safe }};
      const labels = rawData.map(item => {
        const str = item.timestamp.toString();
        return `${str.slice(0, 4)}-${str.slice(4, 6)}`;
      });
      const totals = rawData.map(item => item.total);
      const cumulativeTotals = totals.reduce((acc, val, i) => {
        acc.push(i === 0 ? val : acc[i - 1] + val);
        return acc;
      }, []);
      const data = {
        labels: labels,
        datasets: [
          {
            label: y1Axis,
            data: cumulativeTotals,
            fill: false,
            borderColor: '#EA5B0C',
            backgroundColor: '#EA5B0C33',
            tension: 0.4,
            yAxisID: 'y1',
          },
          {
            label: yAxis,
            data: totals,
            fill: true,
            borderColor: '#0054b3',
            backgroundColor: '#0054b333',
            tension: 0.4,
            yAxisID: 'y',
          }
        ]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          scales: {
            x: {
              title: {display: true, text: xAxis}
            },
            y: {
              type: 'linear',
              beginAtZero: true,
              title: {display: true, text: yAxis},
              position: 'left',
              display: true,
            },
            y1: {
              type: 'linear',
              display: true,
              position: 'right',
              title: {display: true, text: y1Axis},
              grid: {
                drawOnChartArea: false
              }
            }
          }
        }
      };

      new Chart(document.getElementById('myChart'), config);
    </script>
{% endblock %}
