{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{% trans "Home" %}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{% trans 'Welcome to the Wikimedia Brasil GLAM dashboard!' %}</h2>
    <p>
        {% blocktrans  %}This application is our central hub for managing, analyzing, and enhancing digital collections across <b>G</b>aleries, <b>L</b>ibraries, <b>A</b>rchives and <b>M</b>useums in Brazil. It was designed to support cultural institutions by providing data visualization for GLAM-Wiki partnerships with Wikimedia Brasil.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans  %}If you want help in digitize artifacts, artworks, and making your collections more accessible, please reach out to us!{% endblocktrans %}
    </p>
    <div class="gallery">
    </div>
    <div class="button-vertical-container">
        <a href="{% url 'glams:institution_list' %}" aria-label="{% trans 'Institutions' %}">
            <button class="custom-button">
                {% trans "Institutions" %}
            </button>
        </a>
        <a href="{% url 'glams:glam_list' %}" aria-label="{% trans 'GLAM-Wiki Partnerships' %}">
            <button class="custom-button">
                {% trans "GLAMs" %}
            </button>
        </a>
    </div>
    <canvas id="myChart" width="1080" height="720"></canvas>
{% endblock %}
{% block scripts %}
    <script>
      const xAxis = "{% trans 'Date' %}";
      const yAxis = "{% trans 'Monthly views' %}";
      const y1Axis = "{% trans 'Cummulative views' %}";
      const rawData = {{ chart_data|safe }};
      const labels = rawData.map(item => {
        const str = item.timestamp.toString();
        return `${str.slice(0, 4)}-${str.slice(4, 6)}`;
      });
      const totals = rawData.map(item => item.total);
      const cumulativeTotals = totals.reduce((acc, val, i) => {
        acc.push(i === 0 ? val : acc[i - 1] + val);
        return acc;
      }, []);
      const data = {
        labels: labels,
        datasets: [
          {
            label: y1Axis,
            data: cumulativeTotals,
            fill: false,
            borderColor: '#EA5B0C',
            backgroundColor: '#EA5B0C33',
            tension: 0.4,
            yAxisID: 'y1',
          },
          {
            label: yAxis,
            data: totals,
            fill: true,
            borderColor: '#0054b3',
            backgroundColor: '#0054b333',
            tension: 0.4,
            yAxisID: 'y',
          }
        ]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          scales: {
            x: {
              title: {display: true, text: xAxis}
            },
            y: {
              type: 'linear',
              beginAtZero: true,
              title: {display: true, text: yAxis},
              position: 'left',
              display: true,
            },
            y1: {
              type: 'linear',
              display: true,
              position: 'right',
              title: {display: true, text: y1Axis},
              grid: {
                drawOnChartArea: false
              }
            }
          }
        }
      };

      new Chart(document.getElementById('myChart'), config);
    </script>
{% endblock %}