{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Homepage" %}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{% trans "Home" %}</li>
    </ol>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/counter.css' %}">{% endblock %}
{% block content %}
    <div class="w3-row">
    <div class="w3-quarter">&nbsp;</div>
    <div class="w3-half flex-center">
        <h2 style="text-align: center">{% trans 'Welcome to the Wikimedia Brasil GLAM dashboard!' %}</h2>
        <p>{% blocktrans %}Central hub for managing and analyzing digital collections across <b>G</b>aleries, <b>L</b>ibraries, <b>A</b>rchives and <b>M</b>useums in Brazil. It is designed to support cultural institutions by providing data visualization for GLAM-Wiki partnerships with Wikimedia Brasil.{% endblocktrans %}</p>
        <div class="counter-container">
            <div class="counter"><div id="view-counter" data-target="{{ total_requests }}"><span class="loading-spinner"></span></div> <span class="counter-label">{% trans "views" %}</span></div>
            <div class="counter"><div id="file-counter" data-target="{{ total_files }}"><span class="loading-spinner"></span></div> <span class="counter-label">{% trans "files" %}</span></div>
            <div class="counter"><div id="glam-counter" data-target="{{ total_glams }}"><span class="loading-spinner"></span></div> <span class="counter-label">{% trans "GLAM partnerships and Wikiprojects" %}</span></div>
        </div>
        <div class="w3-row">
            <div class="w3-third">&nbsp;</div>
            <div class="w3-third">
                <div class="button-vertical-container" style="margin-top: 1em;">
                    <a href="{% url 'glams:institution_list' %}" aria-label="{% trans 'Institutions' %}"><button class="custom-button">{% trans "Institutions" %}</button></a>
                    <a href="{% url 'glams:glam_list' %}" aria-label="{% trans 'GLAM-Wiki Partnerships' %}"><button class="custom-button">{% trans "GLAMs" %}</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const formatNumber = (num) => {
          const formatted = num.toLocaleString();
          const fragment = document.createDocumentFragment();

          [...formatted].forEach(char => {
            const span = document.createElement("span");
            span.textContent = char;
            span.classList.add("counter-digit");
            fragment.appendChild(span);
          });

          return fragment;
        };

        const updateCounter = (counter, target) => {
          let current = 0;
          const duration = 2000;
          const steps = 60;

          const tick = () => {
            const intervalTime = duration / steps;
            const increment = target / steps;
            current += increment;
            if (current < target) {
              counter.innerHTML = '';
              counter.appendChild(formatNumber(Math.floor(current)));
              setTimeout(tick, intervalTime);
            } else {
              counter.innerHTML = '';
              counter.appendChild(formatNumber(target));
            }
          };

          tick()
        };

        const view_counter = document.getElementById("view-counter");
        const file_counter = document.getElementById("file-counter");
        const glam_counter = document.getElementById("glam-counter");

        fetch("/api/index-data")
          .then(response => response.json())
          .then(data => {
            const view_target = data.total_requests;
            const file_target = data.total_files;
            const glam_target = data.total_glams;

            updateCounter(view_counter, view_target);
            updateCounter(file_counter, file_target);
            updateCounter(glam_counter, glam_target);
          });
      });
    </script>
{% endblock %}